/datasets/linear
/datasets/msds
/datasets/Sock
/datasets/swat
/datasets/smd
/datasets/wadi
/datasets/OneDrive_1_4-13-2026
/datasets/OneDrive_1_4-13-2026.zip
/datasets/archive
*.pyc
*.log
*.pkl
/saved_models/
__pycache__/
*.npy